body {
    margin: 0;
    overflow: center;
    background-color: #fff3e6; 
}

#container {
    position: center;
    width: 125vw;
    height: 125vh;
    background-size: contain; 
    background-repeat: no-repeat;
    transition: background 3s ease-in-out;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: center;
    color: #09d9e0; 
}

